<div class="search-wrapper" fxLayout="row" fxLayoutAlign="top">

    <div class="container">
        <h1>College Form</h1>

        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">

            <div class="form-row">
              <div class="form-group col">
                <label for="zip">
                  ZIP
                </label>
                <input id="zip" class="form-control" type="text" formControlName="zip">
              </div>
            
              <div class="form-group col">
                  <label for="degrees">
                  Degrees
                </label>
                <input id="degrees" class="form-control" type="text" formControlName="degrees">
              </div>
              <div class="form-group col">
                  <label for="year">
                    Year
                  </label>
                  <input id="year" type="text" class="form-control" formControlName="year">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      
    </div>

    <div>

        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of dataSource">
              <td>{{el.school_name}}</td>
              <td>{{el.no_of_students}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>


